body {
    font-family: 'Noto Sans KR', sans-serif;
}

#join_in_wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px;
    min-height: 653px;
}

#join_in_form_wrapper {
    margin-top: 20px;
    display: block;
}

#join_in_title_wrapper {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    position: relative;
}

#join_in_title_wrapper h3 {
    font: inherit;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.54px;
    color: rgb(51, 51, 51);
    text-align: center;
    font-weight: bold;
    margin: 0px;
}

form#register_wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0px auto 60px;
    padding: 24px 20px;
}

#register_wrapper div {
    width: 100%;
}

input.register {
    font: inherit;
    width: 92.5%;
    display: block;
    padding: 14px 14px 12px;
    color: rgb(17, 17, 17);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(238, 238, 238);
    margin: 4px 0px 8px;
}

input#nickname_input::placeholder, input#phone_number_input::placeholder {
    font: inherit;
    font-weight: 500;
    color: rgb(210, 210, 210);
}

#certification_send_wrapper, #certification_input_wrapper {
    display: flex;
}

#phone_number_wrapper{
    display: inline-block;
    width: calc(100% - 126px);
}


#phone_number_input{
    width: 80%;
    padding: 14px 14px 12px;
    color: rgb(17, 17, 17);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(238, 238, 238);
    margin: 4px 0px 8px;
}
#certification_number_send_button{

width: 40%;
height: 50px;
line-height: 20px;
padding: 0px 13px;
background-color: rgb(238, 238, 238);
text-align: center;
cursor: not-allowed;
border-radius: 8px;
color: rgb(170, 170, 170);
font-size: 14px;
margin: 4px 0px 8px;
border: none}

#certification_input_wrapper{
display: inline-block;
width: calc(100% - 100px);}
#certification_number_input{
width: 100%;
padding: 14px 14px 12px;
color: rgb(17, 17, 17);
font-size: 14px;
line-height: 22px;
letter-spacing: -0.42px;
border-radius: 3px;
background-color: rgb(250, 250, 250);
border: 1px solid rgb(238, 238, 238);
margin: 4px 0px 8px;}