<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/join_in_second.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<div id="join_in_wrapper">
    <div id="join_in_form_wrapper">
        <div id="join_in_title_wrapper">
            <h3>회원가입</h3>
        </div>
        <form id = "register_wrapper">
            <input type="text" class="register" id="nickname_input" placeholder="닉네임">
            <div id = "certification_send_wrapper">
                <div id = "phone_number_wrapper"><input id = "phone_number_input"type="text" placeholder="휴대폰 번호 ( - 없이 입력)"></div>
                <button id = "certification_number_send_button">인증번호 전송</button>
            </div>
            <div id = "certification_input_wrapper">
                <div><input id = "certification_number_input"type="text" placeholder="인증번호"></div>
                <div><button id = "certification_check_button">인증하기</button></div>
            </div>
            <div>
                <button id = "submit_button">가입하기</button>
            </div>
        </form>
    </div>
</div>


</body>
</html>